<div>
    <label>Game Name: Optional</label>
    <input type="text" placeholder="game name"></input>
    <label>Description: Required</label>
    <input type='text' required>
</div>
<script src="./js/newGame.js"></script>